@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1e3a8a;
  --secondary: #3b82f6;
  --accent: #10b981;
  --dark: #0f172a;
}

body {
  font-family: 'Outfit', sans-serif;
  @apply bg-slate-50 text-slate-900;
}
